body {
    background-color: #f5f5f5;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container {
    text-align: center;
}
.moviePic {
    height: 400px; 
    width: auto; 
    opacity: 0.9; 
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    margin-bottom: 20px; 

.movieDetail {
    position: relative;
    top: 0;
    width: 80%;
    margin: 0 auto; 
    text-align: center;
    font-size: 1.2em; 
    color: #333; 
    line-height: 1.5; 
    background: #fff; 
    padding: 20px;
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}
